.paginatitle {
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

body {
    background-image: url("../media/background/nietjegatvaninternet.jpeg");
    background-repeat: no-repeat;
    background-width: 100%;
}