body {
    background-image: url("../media/background/nietjegatvaninternet.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.paginatitle {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    background-color: rgba(192, 192, 192, 0.808)
}

.door {
    background-color: rgba(192, 192, 192, 0.493);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

.door:hover {
    background-color: rgba(192, 192, 192, 0.76);
    transition: 500ms;
}

.kop1 {
    background-color: rgba(192, 192, 192, 0.493);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

.kop1:hover {
    background-color: rgba(192, 192, 192, 0.76);
    transition: 500ms;
}