* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 2em;
    color: #ffff;
    font-family: "Helvetica Neue", "Helvetica";
}

.menu {
    overflow: hidden;
    background-color: #333;
}

.menu a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: #ddd;
    color: blue;
    transition: 100ms;
}

.activepage {
    background-color: #4CAF50;
    color: white;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

img {
    float: left;
}

.logo {
    width: 50px;
}